.bar{
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
  text-align: left;
}
.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}
.bar::after{
  content: '';
  background: #2ecc71;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@-webkit-keyframes bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}
.bar100::after{
  max-width: 100%;
}
.bar90::after{
  max-width: 90%;
}
.bar80::after{
  max-width: 80%;
}
.bar70::after{
  max-width: 70%;
}
.bar60::after{
  max-width: 60%;
}
.bar50::after{
  max-width: 50%;
}
.bar40::after{
  max-width: 40%;
}
