
#game_area{
  background: #000;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.frame {
  background-image: url(https://hacks.mozilla.org/files/2017/06/benko-game.png);
  background-repeat: repeat-x;
  background-position: left center;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(120px);
  clip-path: circle(120px);
}

.message {
  position: absolute;
  color: #fff;
  top: 20px;
  left: 20px;
  font-family: monospace;
  font-size: 1.2em;
  background: #0006;
  padding: 1em;
}
