/* ============================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,.clearfix:after {  content: " ";  display: table;}
.clearfix:after {  clear: both;}
.clearfix {  *zoom: 1;}
/* ============================================== */
/* Small screens (default) */
html { font-size: 100%; }
body, html { height: 100%; width: 100%; margin: 0px; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

.container {
  margin: 0 auto;
  /* max-width: 50rem; */
  width: 100%;
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}
