/* ============================================== */
/* PADRÃO */
body {
  background: #ffffff;
  /*color: #282c34;*/
  color: #9a9a9a;
  font-family: dejavusans;
}
a, a:link, a:active, a:visited {
  color: #f0991f;
  text-decoration: none;
  font-weight: bold;
}
h1{ font-family: dejavusans-bold;}
h2{ font-family: dejavusans-bold;}
.p_bold { font-weight: 400; }
.title_purple { color: #49366c; }
.title_yellow { color: #f0991f; }
@media (min-width: 40rem) {.column {  padding-left: 0rem; padding-right: 0rem; } }
.view {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
/* ============================================== */

/* MENUS */

#social {
  position: fixed;
  float: right;
  height:auto;
  list-style:none;
  top: 10px;
  right: 10px;
  display:inline;
  z-index: 1;
}
#social ul { list-style-type: none;  padding: 10px;}

.menu ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  display: block;
}
.menu ul li {
  display: inline-block;
}
.menu ul li:before {
  content: '/';
  padding: 0 12px 0 9px;
}
.menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}
.menu ul li a:hover {
  border-bottom: 2px solid currentColor;
  line-height: 0.85;
}

.btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}
.btn:hover { text-decoration: none; }
.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}
.btn-mod {
    color: #FFFFFF;
    font-weight: 600;
    background-color: #f7960b !important;
    border-radius: 2px !important;
    margin-top: 20px;
    border-color: transparent !important;
}
.triangle_border:after{
  content:'';
  position:absolute;
  top:0; right:0;
  border-top: 100vh solid #fff;
  border-left: 80px solid transparent;
}
.menu { display: none; }
.menu ul { padding: 0; }

/* ============================================== */
/* SESSÕES */
/* ============================================== */
/* ============================================== */
/* HOME - MOBILE */
#home { width: 100%; height: 100%; z-index: 0; }
#home .view { height: 100%; }
#home .view.view-before {
  height: 50vh;
  background: #51c0b4;
  color: #fff;
  z-index:1;
}
#home .view.view-after { height: 50vh; padding: 15px; z-index:1; }
#home .central_title { margin-top: 20vh; text-align: center; position: relative; }
#home .text-container {
  position: relative;
  text-align: center;
  width: 100%;
  margin: auto;
  z-index: 1;
  top: 10vh;
}
#home .central_title h1{ font-size: 2rem; }
#home .central_title h2{ font-size: 12px; }
#home #scroll-link { display: none; }

/* Medium screens (640px) */
@media (min-width: 40rem) {
  #home { height: 100vh; }
  #home .view.view-before { height: 100vh; }
  #home .view.view-after { height: 100vh; }
  #home .central_title {  margin-top: 30vh; }
  #home .central_title h1{ font-size: 4rem; }
  #home .central_title h2{ font-size: 1rem; }
  #home .text-container { top:30vh; }
  #home .text-container h1 { font-size: 2rem; }
  #home .text-container p { font-size: 1rem; }
  #home #scroll-link { display: block; }
  #home .menu { display: block; font-size: 1rem;}
  #home .menu a { font-size: 12px;}
}
/* Large screens (1024px) */
@media (min-width: 64rem) {

}
/* ============================================== */

/* PROJECTS */
#projects{ width: 100%; height: 100%; z-index: 0; }
#projects .toolbar { width: 100%; padding: 15px; text-align: center;}
#projects #portfolio {  width: 100%; }
#projects #portfolio .tile {
  height: 100%;
  margin: 5px;
  position: relative;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.2);
}
#projects #portfolio .caption-photo { width: 100%;}

#projects #portfolio .caption-text {
    width: 100%;
    height: 35px;
    font-size: 12px;
    background-color: #ffffff;
    color: #323232;
    text-align: center;
}
#projects #portfolio .caption-left { position: absolute;; width: 100%; text-align: left; padding: 5px;}
#projects #portfolio .caption-right { position: absolute; width: 100%;  text-align: right; padding: 5px;}

#projects #portfolio img { width: 100%; }
.hide { display: none;}
.show { display: block;}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  #projects #portfolio .tile {
      width: 48%;
  }
}
/* Large screens (1024px) */
@media (min-width: 64rem) {
    #projects #portfolio {
      width: 1024px;
      margin: auto;
    }
  #projects #portfolio .tile {
      width: 32%;
  }
  #projects #portfolio .caption-text {
    font-size: 12px;
  }
}

/* ============================================== */
/* ABOUT */
#about { width: 100%; height: 100%; z-index: 0; }
#about .view { height: 100%; }
#about .view.view-before {
  height: 50px;
  color: #fff;
  background: #51c0b4;
  text-align: center;
  z-index:1;
}
#about .view.view-before .title_section {
  position: absolute;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}
/*  */
#about .view.view-after { height: 100%; padding: 10px; z-index:1; }
#about .view.view-after .text_container { height: 100%; width: 100%; }
#about .view.view-after .text_container h3 { font-size: 14px; }
#about .view.view-after .text_container p { font-size: 14px; line-height: 1.2em; }
#about .view.view-after .central_buttons { text-align: center; }
#about .view.view-after .text-container {
  position: absolute;
  width: 100%;
  margin: auto;
  z-index: 1;
}
/*  */
#about .portrait {
  max-width: 135px;
  width: 100%;
  right: -67px;
  top: 96px;
  position: absolute;
  display: none;
}
img.portrait {
  display: block;
  width: 100%;
  margin-right: 50%;
  height: auto;
  border: 0;
  z-index: 3;
  text-align: center;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  #about .portrait {
      display: block;
  }
  #about .view.view-before{ height: 100vh; }
  #about .view.view-after{ height: 100vh; }
  #about .view.view-after .text_container { padding-top: 15vh; }
  #about .menu { display: block; font-size: 1rem;}
  #about .menu a { font-size: 12px;}
}
/* Large screens (1024px) */
@media (min-width: 64rem) {

}
/* ============================================== */


/* GAME */
#game{
  position: relative;
  width: 100%;
  height: 40vh;
  z-index: 0;
  overflow: hidden;
}
#game #iframe_game {
  height: 100%;
  width: 100%;
  z-index: 0;
  border: none;
}
/* CONTACT */
#contact{
  position: relative;
  width: 100%;
  height: 60vh;
  z-index: 0;
}

/* FONTES DIVERSAS */
@font-face {
  font-family: dejavusans;
  src: url('../fonts/DejaVuSans.ttf');
}
@font-face {
  font-family: dejavusans-bold;
  src: url('../fonts/DejaVuSans-Bold.ttf');
}


/* ANIMAÇÃO SCROLL HOME */
.scroll {
  animation-name: scroll;
  animation-duration: 3.5s;
  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform;
}
.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}
@keyframes scroll {
  10% { opacity: 1;}
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}

/* ANIMAÇÃO BOLAS HOME */
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.1;
}
#area_ball{
   overflow: hidden;
}
